body{
    overflow-y: overlay;
}
body .main-container {
    width: calc(100% - 120px);
    
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0.226);
    border-radius: 2rem;
}
/* start doctor_dashboar */
.doctor_dashboard {
    color: #fff;
    padding: 0 2rem;
}

.fw-100 {
    font-weight: 100 !important;
}

.bg-dark-black {
    background-color: #1F2026 !important;
}

.bg-dark-gray {
    background-color: #2B2934 !important
}

.bg-green {
    background-color: #00ffab21 !important;
}

.bg-yellow {
    background-color: #f7d71630 !important;
}

.bg-purple {
    background-color: #764af12e !important;
}

.bg-cyne {
    background-color: #54f9ff24 !important;
}

.bg-red {
    background-color: #fd5d5d2b !important;
}

.bg-pink {
    background-color: #f900bf1a !important;
}

.text-white {
    color: #fff !important;
}

.text-gray {
    color: #E6E6E6 !important;
}

.text-orange {
    color: #F58220 !important;
}

.text-yellow {
    color: #F8D716 !important;
}

.text-green {
    color: #00FFAC !important;
}

.text-cyne {
    color: #53F8FF !important;
}

.text-purple {
    color: #7649F2 !important;
}

.text-pink {
    color: #F900BF !important;
}

.text-red {
    color: #FD5D5D !important;
}

.o-five {
    opacity: .5;
}

.o-three {
    opacity: .3;
}

.doctor_dashboard .border-gray {
    border: 1px solid #FFFFFF0D;
}

.doctor_dashboard .br-20 {
    border-radius: 20px;
}

.doctor_dashboard .br-15 {
    border-radius: 15px;
}

.doctor_dashboard .br-10 {
    border-radius: 10px;
}

.doctor_dashboard .doctor-card {
    /* min-width: 395px; */
    /* max-width: 395px; */
}

.doctor_dashboard .doctor-card .shadow {
    box-shadow: 0px 5px 7px #00000033;
}

.doctor_dashboard .doctor-card .icon {
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    background-color: #1F2026;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.doctor_dashboard .doctor-card .icon-squre {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.doctor_dashboard .doctor-card h5.detail {
    font-weight: 600;
}

.doctor_dashboard small {
    font-size: 10px;
}

.doctor_dashboard .icon-filter-view {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2B2934;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.doctor_dashboard .icon-filter-view img {
    height: 18px;
    filter: invert(100%) sepia(0%) saturate(7481%) hue-rotate(122deg) brightness(108%) contrast(100%);
}

.doctor_dashboard .search-input {
    position: relative;

}

.doctor_dashboard .search-input img {
    position: absolute;
}

.doctor_dashboard .search-input img.search-ic {
    position: absolute;
    left: 10px;
    top: 10px;
}

.doctor_dashboard .search-input img.cross {
    position: absolute;
    right: 4px;
    top: 4px;
}

.doctor_dashboard input {
    background-color: #2B2934;
    border: 1px solid #FFFFFF0D;
    border-radius: 20px;
    padding-left: 32px;
    padding-right: 35px;
}

#popup .modal-content {
    background: #37332F 0% 0% no-repeat padding-box;
    border: 2px solid #F58220;
    border-radius: 15px;
}

.w-395 {
    max-width: 395px;
}
.fw-400{
    font-weight: 400;
}
@media (max-width:1600px) {
    .doctor_dashboard .doctor-card .detail {
        font-size: 14px;
    }

    .doctor_dashboard .doctor-card .icon {
        min-width: 24px;
        min-height: 24px;
        max-width: 24px;
        max-height: 24px;
    }

    .doctor_dashboard .doctor-card .icon img {
        max-width: 18px;
    }

    .doctor_dashboard .doctor-card .icon-squre {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
    }

    .doctor_dashboard .doctor-card .icon-squre {
        max-width: 22px;
        max-height: 22px;
    }
}

/* end doctor_dashboar */