@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/fonts/') format('truetype'),
        url('/fonts/Gilroy-Regular.woff') format('woff'),
        url('/fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/fonts/Gilroy-Medium.ttf') format('truetype'),
        url('/fonts/Gilroy-Medium.woff') format('woff'),
        url('/fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype'),
        url('/fonts/Gilroy-SemiBold.woff') format('woff'),
        url('/fonts/Gilroy-SemiBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/fonts/Gilroy-Bold.ttf') format('truetype'),
        url('/fonts/Gilroy-Bold.woff') format('woff'),
        url('/fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Heavy';
    src: url('/fonts/Gilroy-Heavy.ttf') format('truetype'),
        url('/fonts/Gilroy-Heavy.woff') format('woff'),
        url('/fonts/Gilroy-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}